.rooms-available {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.rooms-available > div {
  width: 150px;
  height: 130px;
  margin-bottom: 6px;
  margin-right: 6px;
  text-align: left;
}