<div class="rooms-available">
	<div class="card" *ngFor="let room of rooms | async"
  [ngClass]="{'room-empty':room.status == 0, 'room-occupied': room.status == 1, 'room-dirty': room.status == 2}">
		<div class="card-body">
			<h3>{{room.num}}</h3>
			<p>
				<span class="room-desc-cat">{{room.category}}</span>
        <span class="room-desc-stat">
          <br>
          <label *ngIf="room.status == 0">Status: Unoccupied</label>
          <label *ngIf="room.status == 1">Occupied till {{room.expCheckoutDate | date}}</label>
          <label *ngIf="room.status == 2">Status: Not Cleaned</label>
        </span>
			</p>
		</div>
	</div>
</div>