.rooms-available {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.rooms-available > div {
  width: 200px;
  height: 130px;
  margin-bottom: 6px;
  margin-right: 6px;
  text-align: left;
}
.room-desc-cat {
  font-size: .8em;
  font-weight: 400;
}
.room-desc-stat {
  font-size: .8em;
  font-weight: 500;
}
.room-empty {
  background: #78af7d;
}
.room-occupied {
  background: #6c97a5;
  color: #eadada;
}
.room-dirty {
  background: #6e654b;
  color: white;
}