.check-in-form {
  max-width: 600px;
}
.pax-area {
  max-width: 100px;
}
.av-room-area {
  max-width: 500px;
}
.amt-area {
  max-width: 300px;
}

.form-group > label,
.form-group > div > div > label {
  font-weight: 500;
}
.form-group > small {
  font-size: x-small;
}